#top {
    -fx-background-color: #333;
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.VBox {
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
    -fx-spacing: 30;
}

.label {
    /* for debugging */
    -fx-background-color: #444;

    -fx-pref-width: inherit;
    -fx-text-fill: #d5d5d5;
    -fx-font-size: 25;
    -fx-alignment: CENTER;
}

.HBox {
    /* for debugging */
    -fx-background-color: #555;

    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-alignment: CENTER;
    -fx-border-radius: 10;
}
