#top {
    -fx-background-color: #333;
    -fx-pref-width: 600;
    -fx-pref-height: 400;
}

.VBox {
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
    -fx-spacing: 30;
}

.label {
    /* for debugging */
    -fx-background-color: #444;

    -fx-pref-width: inherit;
    -fx-text-fill: #d5d5d5;
    -fx-font-size: 25;
    -fx-alignment: CENTER;
}

.HBox {
    /* for debugging */
    -fx-background-color: #555;

    -fx-pref-width: 100;
    -fx-pref-height: 100;
    -fx-alignment: CENTER;
    -fx-border-radius: 10;
}

#bottom-h-box {
    -fx-spacing: 250;
}

.button {
    -fx-pref-width: 120;
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-font-family: "UD デジタル 教科書体 NP-B";
    -fx-text-fill: #d5d5d5;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
