#top {
	-fx-pref-width: 960;
	-fx-pref-height: 540;
}

#top .BorderPane {
	-fx-pref-width: inherit;
	-fx-pref-height: inherit;
}

#title {
	-fx-pref-width: inherit;
	-fx-pref-height: 50;
	-fx-background-color: #555;
	-fx-background-radius: 0;
	-fx-font-family: "UD デジタル 教科書体 NP-B";
	-fx-text-fill: #d5d5d5;
	-fx-font-weight: bold;
	-fx-font-size: 30;
	-fx-alignment: center;
}

.HBox {
	-fx-background-color: #333;
	-fx-pref-width: inherit;
	-fx-alignment: CENTER;
	-fx-padding: 15 10;
	-fx-spacing: 20;
}

.VBox {
	/* for debugging */
	-fx-background-color: #777;
	-fx-pref-width: 400;
	-fx-pref-height: inherit;
	-fx-alignment: CENTER_LEFT;
	-fx-padding: 10 30;
	-fx-spacing: 24;
	-fx-background-radius: 10;
}

.button {
	-fx-pref-width: 120;
	-fx-background-color: #555;
	-fx-background-radius: 5;
	-fx-font-family: "UD デジタル 教科書体 NP-B";
	-fx-text-fill: #d5d5d5;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}

.button:hover {
	-fx-background-color: #666;
}

.button:pressed {
	-fx-background-color: #111;
}


.VBox .label {
	-fx-font-family: "UD デジタル 教科書体 NP-B";
	-fx-text-fill: #d5d5d5;
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

.VBox .check-box {
	-fx-font-family: "UD デジタル 教科書体 NP-B";
	-fx-text-fill: #d5d5d5;
	-fx-font-weight: bold;
	-fx-font-size: 20;
}

.VBox .check-box .box {
	-fx-background-color: #555;
	-fx-background-radius: 5;
}

.VBox .check-box .box:hover {
	-fx-background-color: #666;
}

#center-h-box {
	-fx-pref-height: inherit;
}

#center-h-box .button {
	-fx-pref-height: 20;
}

#bottom-h-box {
	/* for debugging */
	-fx-background-color: #444;
	-fx-pref-height: 70;
	-fx-spacing: 300;
}

#bottom-h-box .button {
	-fx-pref-height: 30;
}

#bottom-caution-label {
	-fx-background-color: #444;
	-fx-font-family: "UD デジタル 教科書体 NP-B";
	-fx-pref-width: inherit;
	-fx-alignment: CENTER;
	-fx-text-fill: red;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}
